

<!doctype html>
<html>
<head>
  <title>Mad Libs</title>
</head>
<body>
    Welcome to Mad Libs!  Please enter the information below.
    <br>
   
    <form action="/madlib">
        <label>Person</label><br>
        <input type="text" name="Person">
        

        <label>Color</label>
        <input type="text" name="Color">
        <br>

        <label>Noun</label>
        <input type="text" name="Noun"><br>

        <label>Adjective</label>
        <input type="text" name="Adjective"><br>

        <input type="submit">

      </form>



</body>
</html>