
<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/static/madlibs.css">
  <title>A Madlib for You</title>
</head><h1>
Your Madlib
</h1>
<body>

  <p>
    There once was a {{ Color }} {{ Noun }} sitting in the Hackbright Lab.
    When {{ Person }} went to pick it up, it burst into flames in a totally
    {{ Adjective }} way. {{Person}} had just come into town from {{city}} and 
    they brought their pet {{noun2}} with them.  The {{noun2}} saw the explosion and 
    ran away very {{adverb}}!
    
</p>

<div class="playing_with_CSS">
Here is my test div
</div>

</body>
</html>

